body{
  font-size:14px;
}
.notepad-dlg-search {
  z-index: 10;
}

.notepad-dlg-search .dialogbox {
  height: 164px;
  width: 414px;
  border:1px solid blue;
  margin:100px auto;
  position:relative;
  overflow:hidden;
}
.notepad-dlg-titlebar{
  height:30px;
  width:100%;
  position:absolute;
  top:0;
}
.title{
  position:absolute;
  top:-10px;
  left:10px;
}
.close-btn{
  position:absolute;
  top:0;
  right:0;
  width:30px;
  height:30px;
  text-align:center;
  
}
.close-btn:hover{
  background-color:red;
  color:white;
  width:30px;
  height:30px;

}
.notepad-dlg-search .main {
  height: 134px;
  width:100%;
  padding-left: 6px;
  background-color:lightgrey;
  position:absolute;
  bottom:0;
}

.notepad-dlg-search .main .txt-content {
  box-sizing: border-box;
  height: 26px;
  margin: 10px;
  width: 200px;
}

.notepad-dlg-search .main .btn-search {
  position: absolute;
  right: 8px;
  top: 12px;
  
}

.notepad-dlg-search .main .btn-cancel {
  bottom: 56px;
  position: absolute;
  right: 8px;
}

.notepad-dlg-search .main .search-direction {
  border-color: #f0f0f0;
  box-sizing: border-box;
  height: 52px;
  left: 172px;
  padding: 10px 5px;
  position: absolute;
  top: 64px;
  width: 160px;
}

.notepad-dlg-search .main input[value="down"] {
  margin-left: 5px;
}

.notepad-dlg-search .main input[value="capital-sense"] {
  margin-top: 30px;
}
